*{
    color: black;
}

p, span {
    font-family: 'Roboto', sans-serif;
    color: rgb(28, 29, 28);
    width: 100%;
    margin: 25px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    border: 2px solid blue;
    padding: 10px;
    margin: 25px;
    background-color: white;
    font-weight: bold;
    color: rgb(8, 10, 9);
}

h2 {
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgb(7, 7, 7);
    padding: 5px;
    margin: 25px;
    background-color: blue;
    font-weight: normal;
    color: white;
}

h3 {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin: 20px;
    font-weight: bold;
    color: black;
}

table {
    margin: 50px;
}

section {
      width: 230px;
      border: 3px solid white);
      padding: 15px;
      margin: 10px;
      font-family: 'Roboto', sans-serif;
}

#neg_parrafo {
    font-family: 'Roboto', sans-serif;
    color:black;
    font-size: 16px;
    font-weight: bold;
}

section h1 {
    font-weight: 400px;
}
